<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, w
affle, waffle_pi]"/>
  <arg name="x_pos1" default="0.0"/>
  <arg name="y_pos1" default="0.0"/>
  <arg name="z_pos1" default="0.0"/>

  <param name="robot_description1" command="$(find xacro)/xacro --inorder $(find 
turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf1" args="-urdf -model
 turtlebot3_$(arg model)1 -x $(arg x_pos1) -y $(arg y_pos1) -z $(arg z_pos1) -param 
robot_description1" />

<group ns="T2">
  <arg name="model2" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, w
affle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <param name="robot_description2" command="$(find xacro)/xacro --inorder $(find 
turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf2" args="-urdf -model
 turtlebot3_$(arg model2)2 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param 
robot_description2" />
</group>

<group ns="T3">
  <arg name="model3" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, w
affle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="2.0"/>
  <arg name="z_pos" default="0.0"/>

  <param name="robot_description3" command="$(find xacro)/xacro --inorder $(find 
turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf3" args="-urdf -model
 turtlebot3_$(arg model3)3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param 
robot_description3" />
</group>

<group ns="T4">
  <arg name="model4" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, w
affle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="3.0"/>
  <arg name="z_pos" default="0.0"/>

  <param name="robot_description4" command="$(find xacro)/xacro --inorder $(find 
turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf4" args="-urdf -model
 turtlebot3_$(arg model4)4 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param 
robot_description4" />
</group>


<group ns="T5">
  <arg name="model5" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, w
affle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="4.0"/>
  <arg name="z_pos" default="0.0"/>

  <param name="robot_description5" command="$(find xacro)/xacro --inorder $(find 
turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf5" args="-urdf -model
 turtlebot3_$(arg model5)5 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param 
robot_description5" />
</group>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(env PWD)/myworld.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>

